body {
  background: #f4f4f4 url("images/backgroundRepeat.png") repeat;
 font-family: Constantia, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; width: 60%;
}
h2{
  font-family: 'Elementary Gothic Bookhand','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.containerRetouch {
  position: relative;
  width: 30%;
}
.overlayRetouch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .8s ease;
 }

.containerRetouch:hover .overlayRetouch {
  opacity: 1;
}

.containerPapa {
  position: relative;
  width: 75%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlayPapa {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: 1.8s ease;
}


.containerPapa:hover .overlayPapa {
  bottom: 0;
  height: 100%;
}

